{% extends 'layout.html' %} {% block title %} Home {% endblock %} {% block body %}

<title>Apepe's Garage</title>
<!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid">
	<div class="container">
		<h1 class="display-4"><span>Apepe's Garage !</span></h1>
		<h3 class="display-5"><span>Powered By Arya Pratama Putra</span></h3>
	</div>
</div>
<!-- akhir Jumbotron -->

<div class="container">
	<!-- what is inside our content -->
	<div class="row workingspace">
		<div class="col-lg-6">
			<img src="/static/sunday.png" alt="fotobengkel" class="img-fluid rounded" />
		</div>
		<div class="col-lg-5">
			<h2>What's <span> New </span> <span> ? </span></h2>
			<p>Calling out Automotive Enthusiast, this website for you.</p>
			<br />
			<h2>Here, we will help you find the best solution for your vehicle.</h2>
			<p>Disini kami akan membantu Anda untuk mencari sebuah solusi terbaik bagi kendaraan Anda.</p>
		</div>
	</div>
	<!-- end -->

	<!-- Top 3 Client -->
	<div class="row justify-content-center">
		<div class="col info-panel-info">
			<div class="col-lg text-center">
				<h1>This is Our Top 3 Client</h1>
				<h5>But there are a lot of vehicle that we can fix, calm..</h5>
			</div>
			<div class="row">
				<div class="col-sm">
					<img src="/static/bmw.jpg" alt="BMW" class="img-fluid float-left" />
					<h4>BMW</h4>
				</div>
				<div class="col-lg">
					<img src="/static/mercedes.jpg" alt="mercedes" class="img-fluid float-left" />
					<h4>Mercedes</h4>
				</div>
				<div class="col-lg">
					<img src="/static/porsche.jpg" alt="Security" class="img-fluid float-left" />
					<h4>Porsche</h4>
				</div>
			</div>
			<div class="col-lg text-center">
				<h2>Apepe's Garage</h2>
				<p>"Welcome to our garage, Automotive Enthusiast."</p>
			</div>
		</div>
	</div>
</div>

{% endblock %}
